{% extends 'base.html' %}
  {% block title %} 
    Welcome to my page
  {% endblock %}

  {% block set_body %}
    <body style='background: url("http://images.vfl.ru/ii/1633023213/43ee16ba/36076108.jpg") no-repeat center center fixed; background-size: cover;'></body>
  {% endblock %}

  {% block sect %} 
    <h1 class="mt-5"><font color="#FFFAFA">Andrey Fedotov</font></h1>
    <p><font color="#FFFAFA">Backend developer. <br><br><br>Current technology stack:<br>python, django, bootstrap, *nix(basic things, nginx, gunicorn), git, Docker.
      <br><br>I’m from Russia, Nizhni Novgorod. <br>Currently learning backend development in Python. <br><br>Contact me!<br>Telegram: @fedotov_aa </font> </p>
    <script type="text/javascript">
      (function() {var script=document.createElement("script");
      script.type="text/javascript";
      script.async =true;script.src="//telegram.im/widget-button/index.php?id=@fedotov_aa";
      document.getElementsByTagName("head")[0].appendChild(script);
      })();
    </script>
    <a href="https://telegram.im/@fedotov_aa" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:26px;width:68px;background:#27A5E7;box-shadow:1px 1px 5px #27A5E7;color:#FFFFFF;border-radius:50px;" title=""><i></i></a>
  {% endblock %}  
