{% extends 'base.html' %}
  {% block title %}
    TODO LIST
  {% endblock %}

  {% block set_body %}
    <body style='background: url("http://images.vfl.ru/ii/1638441452/8c979ba5/36928447.jpg") no-repeat center center fixed; background-size: cover;'>
  {% endblock %}
  {% block sect %}
    <h1 class="card w-75">
         Мои задачи
    </h1>
<form method='post'>{% csrf_token %}
<div class="card w-75">
    <label for="{{ form.category.id_for_label }}">Выбрать категорию</label>
    {{ form.category }}
    <label for="{{ form.text.id_for_label }}">Текст задачи</label>
    {{ form.text }}
</div>
<button type="submit" class="btn btn-primary">Добавить задачу</button>
</form>
      <br><br>
{% for task in tasks %}
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">{{ task.category }}</h5>
        <p class="card-text">{{ task.text }}</p>
        <a href="{% url 'todo:task_close' task.id %}" class="btn btn-primary">Закрыть</a>
      </div>
    </div>
    {% endfor %}
      <br>
      <br>
      <br>
  {% endblock %}
