{% extends 'base.html' %}
  {% block title %}
    TODO LIST
  {% endblock %}

  {% block set_body %}
    <body style='background: url("http://images.vfl.ru/ii/1638441452/8c979ba5/36928447.jpg") no-repeat center center fixed; background-size: cover;'>
  {% endblock %}
  {% block sect %}
    <h1 class="card w-75">
         Мои задачи
    </h1>
<form method='post'>{% csrf_token %}
<div class="card w-75">
  <label for="exampleFormControlSelect1">Выбрать категорию</label>
    <select class="form-control" name="category" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <label for="exampleFormControlTextarea1">Текст задачи</label>
    <textarea name="task" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Добавить задачу</button>
</form>
      <br><br>
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Кнопка</a>
      </div>
    </div>


  {% endblock %}
