{% extends "base.html" %} 
  {% block title %} 
    Logged out
  {% endblock %}
  {% block set_body %}
    <body style='background: url("http://images.vfl.ru/ii/1633023213/43ee16ba/36076108.jpg") no-repeat center center fixed; background-size: cover;'></body>
  {% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="form-group col-md-4 col-sm-4 col-lg-2"> 
      <div class="card" style='background-color:#524e4e'>
        <div class="card-header" style='color:#ffffff'>
        <p>
          Вы вышли из своей учётной записи. Ждём вас снова!
        </p>
      </div> 
    </div> 
  </div> 
</div> 
{% endblock %}