{% extends 'base.html' %}
{% block title %}
    Successful submit
{% endblock %}

{% block set_body %}
    <body style='background: url("https://i.yapx.ru/Sj2Nf.jpg") no-repeat center center fixed; background-size: cover;'></body>
{% endblock %}

{% block sect %}
    <h1 class="mt-5"><font color="#FFFFFF"><b>Заявка на формирование блока</b></font>
    </h1>
    <br><br>
    <h3 class="mt-5"><font color="#FFFFFF"><b>Блок успешно сформирован!</b></font></h3>
    <span class="badge badge-success">CID: {{ api_response }}</span>
{% endblock %}
