{% extends 'base.html' %}
  {% block title %} 
    LPG
  {% endblock %}

  {% block set_body %}
    <body style='background: url("http://images.vfl.ru/ii/1633079235/924f95bc/36081496.jpg") no-repeat center center fixed; background-size: cover;'>
  {% endblock %}
 
  {% block sect %}
    <h1 class="mt-5"><font color="#FFFFFF"><b>GAS STATION CHECK-IN</b></font></h1>
    <br>
    <form method='post'>{% csrf_token %}
      <div class="form-group col-md-4 col-sm-4"> 
        <label for="pricelpg"><font color="#FFFFFF">Цена LPG:</font></label>
        <input type="text" name = 'pricelpg' class="form-control" id="pricelpg" placeholder="Цена LPG:">
      </div>
      <br>
      <div class="form-group col-md-4 col-sm-4"> 
        <label for="litres"><font color="#FFFFFF">Литров:</font></label>
        <input type="text" name = 'litres' class="form-control" id="litres" placeholder="Литров:">
      </div>
      <br>
      <div class="form-group col-md-4 col-sm-4"> 
        <label for="mileage"><font color="#FFFFFF">Пробег:</font></label>
        <input type="text" name = 'mileage' class="form-control" id="mileage" placeholder="Пробег:">
      </div>
      <br>
      <div class="form-group col-md-4 col-sm-4"> 
        <label for="price95"><font color="#FFFFFF">Цена 95-го:</font></label>
        <input type="text" name = 'price95' value="{{ price }}" class="form-control" id="price95" placeholder="Цена 95-го:">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <br>
    <font color="#FFFFFF">{{ status }}</font>
    <font color="#FFFFFF">Текущая цена АИ-95 ЭКТО: {{ price }}</font>
      <br>
    <font color="#FFFFFF">Дата обновления цены: {{ date }}</font>
  {% endblock %}
