{% extends 'base.html' %}
  {% block title %}
    SUCCESS CHECK-IN
  {% endblock %}

  {% block set_body %}
    <body style='background: url("http://images.vfl.ru/ii/1633079235/924f95bc/36081496.jpg") no-repeat center center fixed; background-size: cover;'>
  {% endblock %}

  {% block sect %}
    <h1 class="mt-5"><font color="#FFFFFF"><b>GAS STATION CHECK-IN</b></font></h1>
    <br><br>
    <h3 class="mt-5"><font color="#FFFFFF"><b>Данные успешно переданы на сервер!</b></font></h3>
  {% endblock %}
