{% extends 'base.html' %}
  {% block title %}
    STO
  {% endblock %}

  {% block set_body %}
    <body style='background: url("http://images.vfl.ru/ii/1640337120/2c1bd022/37251088.jpg") no-repeat center center fixed; background-size: cover;'>
  {% endblock %}

  {% block sect %}
    <h1 class="mt-5"><font color="#FFFFFF"><b>STO CHECK-IN</b></font></h1>
      {% if form.errors %} {{ form.errors }} {% endif %}
      <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-group col-md-8 col-sm-8">
          <label for="{{ form.mileage.id_for_label }}"><font color="#FFFFFF">Пробег:</font>:</label>
      {{ form.mileage }}
          <br>
          <label for="{{ form.group.id_for_label }}"><font color="#FFFFFF">Тип ТО:</font>:</label>
      {{ form.group }}
          <br>
          <label for="{{ form.price.id_for_label }}"><font color="#FFFFFF">Цена:</font>:</label>
      {{ form.price }}
          <br>
          <label for="{{ form.actions.id_for_label }}"><font color="#FFFFFF">Спецификация:</font>:</label>
      {{ form.actions }}
          <br>
          <label for="{{ form.description.id_for_label }}"><font color="#FFFFFF">Комментарии:</font>:</label>
      {{ form.description }}
          <br>
          <label for="{{ form.receipt.id_for_label }}"><font color="#FFFFFF">Заказ-наряд:</font>:</label>
      {{ form.receipt }}

      </div>
      <br>
      <button type="submit" class="btn btn-primary">Отправить</button>
        <br>
      <br>
      <br>
      <br>
  {% endblock %}
